spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/shared
  security:
    user:
      name: user # Explicitly set a username
      password: ${CONFIG_SERVICE_PASSWORD}

server:
  port: 8888